body {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #212125;
    color: #e6e8db;
}

.header-container {
    text-align: center;
    margin-bottom: 20px; /* Add margin to separate header from the form */
}

#weatherForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    background-color: #fc5830;
    color: #ffffff8c;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #f98c24;
}

#iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
